.payment-box-section .payment-box {
    padding: calc(21px + (60 - 21) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 10px;
    background-color: #f8f8f8;
}
.payment-box-section .payment-box label.error {
    color: #d21a15;
    top: 53px !important;
    background-color: transparent !important;
    font-size: 13px !important;
}
.payment-box-section .payment-box .installment-box .installment-title {
    margin-bottom: calc(9px + 8*(100vw - 320px)/1600);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box {
    border-radius: 8px;
    padding: calc(12px + 12*(100vw - 320px)/1600);
    background-color: #fff;
    height: 100%;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,.07);
    box-shadow: 0 0 9px rgba(0,0,0,.07);
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .form-check .form-check-input {
    width: calc(15px + 2*(100vw - 320px)/1600);
    height: calc(15px + 2*(100vw - 320px)/1600);
    margin-top: 2px;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail {
    margin-left: 10px;
    width: calc(85% + -10*(100vw - 320px)/1600);
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail li {
    display: block;
    width: 100%;
    text-align: center;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail p, .payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail h6 {
    line-height: 1.4;
    margin-bottom: 0;
    font-weight: 400;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail p span, .payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail h6 span {
    margin-right: 4px;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail h4 span {
    font-size: calc(10px + 2*(100vw - 320px)/1600);
    margin-left: 4px;
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail h6 {
    font-size: calc(14px + 2*(100vw - 320px)/1600);
}
.payment-box-section .payment-box .installment-box .installment-detail .number-of-installment-box > div .number-of-installment-detail p {
    font-size: calc(10px + 2*(100vw - 320px)/1600);
}
